@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar_header {
    @apply z-20 lg:w-96 w-72 text-white bg-primary p-4 flex flex-col items-center h-screen overflow-x-hidden overflow-y-auto dark:bg-navy transition-all duration-300;

}

#sidebar_header .social-icon {
    @apply p-2 mx-1 text-lg bg-gray-200 rounded-full w-10 h-10 inline-block text-green-600 text-center hover:text-green-800 transition-colors duration-300;
}

.main-content {
    @apply w-full text-black dark:text-white dark:bg-black transition-all duration-300;
}

.custom-scrollbar {
    scrollbar-width: thin;
}

.custom-scrollbar &::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.custom-scrollbar &::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.custom-scrollbar &::-webkit-scrollbar-thumb {
    @apply bg-green-800 rounded;
}

/* Handle on hover */
.custom-scrollbar &::-webkit-scrollbar-thumb:hover {
    @apply bg-green-900;
}

#sidebar_header .social-icon {
    @apply p-2 flex justify-center items-center mx-1 text-lg bg-gray-200 rounded-full w-10 h-10 inline-block text-green-600 text-center hover:text-green-800 transition-colors duration-300;
}

#contact-section .social-icon {
    @apply p-2 mx-1 text-lg w-10 h-10 inline-block text-green-600 text-center hover:text-green-800 transition-colors duration-300;
}

#resume-container {
    max-width: 1140px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    @apply mx-auto p-8;
}
